/* Style Setting */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --bgColor: #1F212B;
    --accentColor: #214E34;
    --font: 'Roboto', sans-serif;
}

body{
    background-color: var(--bgColor);
}

#userPhoto {
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 25px;
    border-radius: 50%;
    pointer-events: none;
}

div {
    max-width: 600px;
    width: auto;
    margin: 3em auto;
    padding: 1.5em;
    background-color: #10161D;
    border-radius: 0.5em;
}

.text {
    color: aliceblue;
    font-family: var(--font);
    text-decoration: none;
    font-size: 14px;
}

.title {
    display: block;
    color: aliceblue;
    font-family: var(--font);
    text-decoration: none;
}

#button{
    max-width: 200px;
    width: 180px;
    height: 40px;
    padding: 3px;
    margin: auto;
    background-color: #02e777;
    border-radius: 6px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: var(--font);
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
}
